.header /*cabeçalho*/{
  position: static;
  background-color: #e10600;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  padding: 0px 60px 10px 60px;
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo /*logotipo*/ {
  position: relative;
  display: flex;
  justify-content: baseline;
  height: 120px;
  width: 120px;
}

.header-title {
  color: white;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.searchbar /*barra de pesquisa*/ {
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchbar form {
/* .searchbar div { */
  display: flex;
  align-items: center;
}

.searchbar input[type=text] /*o input da barra de pesquisa*/ {
  padding: 12px 15px;
  width: 300px;
  font-size: 16px;
  border: none;
  border-radius: 25px 0 0 25px;
  outline: none;
  height: 45px;
  background-color: #ffffff;
  color: #333;
}

.searchbar input[type=text]::placeholder {
  color: #999;
}

.searchbar .d-btn /*botão de busca*/ {
  padding: 0 20px;
  height: 45px;
  border: none;
  border-radius: 0 25px 25px 0;
  background: #e10600;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.searchbar .d-btn:hover /*botão ao colocar o mouse em cima*/{
  background: #ff1a1a;
}

.filter-btn {
  padding: 12px 20px;
  height: 45px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  background: #e10600;
  color: white;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s;
}

.filter-btn:hover {
  background: #ff1a1a;
}

.filter-menu {
  display: none;
  position: absolute;
  min-width: 150px;
  background-color: white;
  flex-direction: column;
}

.filter-menu.open {
  display: flex;
}

.filter-menu-btn {
  padding: 10px;
  background-color: white;
  border: none;
  color: black;
}

.filter-menu-btn:hover {
  cursor: pointer;
  background-color: #ff1a1a;
  color: white;
  font-weight: bold;
}

.menu-list /*barra de menu*/{
  display: flex;
  gap: 40px;
}

.menu-button {
  display: none;
}

.menu-link {
  color: white;
  text-decoration: none;
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  letter-spacing: 1px;
  transition: all 0.3s;
  padding: 5px 5px;
}

.menu-link:hover {
  color: #ffffff;
  background-color: #ff1a1a;
  border-radius: 5px;
}

.menu-link.active {
  border-bottom: 3px solid white;
}

@media (max-width: 1024px) {
  .menu-button {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    padding: 4px 9px 4px 9px;
    font-size: 2rem;
  }

  .menu-button:hover {
    cursor: pointer;
    background-color: #ff1a1a;
    border-radius: 10px;
  }

  .menu-list.open {
    display: flex;
  }

  .menu-list {
    width: 200px;
    height: 80vh;
    background-color: #ffffff;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 0px;
    z-index: 3;
  }
  
  .menu-link:hover {
    border-radius: 0px;
  }

  .menu-link {
    color: black;
    width: 100%;
    text-align: center;
    padding: 10px 10px;
  }

}

@media (max-width: 768px) {
  .searchbar input[type=text] /*o input da barra de pesquisa*/ {
    width: 200px;
  }
}

@media (max-width: 520px) {
  .searchbar input[type=text] /*o input da barra de pesquisa*/ {
    width: 180px;
  }
}